<section class="admin-view">
  <div class="container">
    <h1 class="text-center">Editing Question</h1>

    <%= render 'form', question: @question, action: "update" %>

    <%= link_to 'Show', quiz_question_path(@question.quiz_id, @question.id) %> |
    <%= link_to 'Back', quiz_path(@question.quiz_id, anchor: "question_order_#{@question.order.to_s}") %>
  </div>
</section>