<section class="admin-view">
  <div class="container">
    <h1 class="text-center">Editing Question</h1>

    <%= render 'form', question: @question, action: "update" %>

    <div class="text-center my-2">
      <%= link_to 'Destroy', quiz_question_path(@question.quiz_id, @question.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
    </div>
    <div class="text-center">
      <%= link_to 'Show', quiz_question_path(@question.quiz_id, @question.id) %> |
      <%= link_to 'Back', quiz_path(@question.quiz_id, anchor: "question_order_#{@question.order.to_s}") %>
    </div>
  </div>
</section>