<section class="admin-view">
  <div class="container">
    <h1 class="text-center">New Question</h1>

    <%= render 'form', question: @question, action: "create" %>

    <%= link_to 'Back', quiz_path(@quiz.id) %>

  </div>
</section>