<h1> Question </h1>

<h2> <%= @question.description %> </h2>
<h2> <%= @question.text %> </h2>

<div>
  <% @question.answers.each do |answer| %>
  <a href="<%= question_path(answer.next_question_ID) if answer.next_question_ID.present? %>">
    <div>
      <p> <%= answer.text %> </p>
    </div>
  </a>
  <% end %>

</div>