<section class="quiz-header text-center">
  <div class="container quiz-show-container shadow rounded-3">
    <div class="row">
      <h2 class="quiz-heading"> <%= @question.description %> </h2>
      <p> <%= @question.text %> </p>
    </div>

    <% @question.answers.each do |answer| %>
      <a class="text-decoration-none" data-method="put" href="<%= select_answer_url(quiz_id: @question.quiz_id, question_id: @question.id, answer_id: answer.id, next_question_id: answer.next_question_id, next_question_order: answer.next_question_order) %>">
        <div class="row justify-content-md-center answer-row">
          <div class="col question-answer">
            <p> <%= answer.text %> </p>
          </div>
        </div>
      </a>
    <% end %>

  </div>
</section>