<section class="scenario-header text-center">
  <div class="container scenario-show-container shadow rounded-3">
    <div class="row">
      <h2 class="scenario-heading"> <%= simple_format(@question.description) %> </h2>
      <p> <%= @question.text %> </p>
    </div>

    <% @question.answers.each do |answer| %>
      <%= link_to select_answer_url(answer_id: answer.id), data: { method: "put" }, class:"text-decoration-none" do %>
        <div class="row justify-content-md-center answer-row">
          <div class="col question-answer">
            <p> <%= answer.text %> </p>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>
</section>