<section class="quiz-header text-center">
  <div class="container quiz-show-container shadow rounded-3">
    <div class="row">
      <h2 class="quiz-heading"> <%= @question.description %> </h2>
      <p> <%= @question.text %> </p>
    </div>

    <% @question.answers.each do |answer| %>
      <a class="text-decoration-none" data-method="put" href="<%= select_answer_url(answer_id: answer.id) %>">
        <div class="row justify-content-md-center answer-row">
          <div class="col question-answer">
            <p> <%= answer.text %> </p>
          </div>
        </div>
      </a>
    <% end %>

  </div>
</section>