<section class="admin-view">
  <div class="container">

    <h1 class="text-center">Editing Quiz</h1>

    <%= render 'form', quiz: @quiz %>

    <div class="text-center my-2">
      <%= link_to 'Destroy', quiz_path(@quiz.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
    </div>
    <div class="text-center">
      <%= link_to 'Show', @quiz %> |
      <%= link_to 'Back', quizzes_path %>
    </div>

  </div>
</section>