<h1>Quizzes</h1>
<h3>Quiz Count: <%= @quizzes.count %></h3>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @quizzes.each do |quiz| %>
    <tr>
      <td><%= quiz.name %></td>
      <td><%= quiz.description %></td>
      <td>TODO View or Edit</td>
    </tr>
  <% end %>
  </tbody>
</table>
