<section class="admin-view">
  <div class="container">

    <h1 class="text-center">New Quiz</h1>

    <%= render 'form', quiz: @quiz %>

    <div class="text-center">
      <%= link_to 'Back', quizzes_path %>
    </div>
  </div>
</section>