<section class="scenario-header text-center">
  <div class="container scenario-show-container shadow rounded-3">
    <div class="row">
      <h2 class="scenario-heading">Summary</h2>
      <p> This is your <%= @attempt.attempt_number.ordinalize %> attempt </p>
      <div class="col-sm-10 col-md-6 col-lg-3 mx-auto">
        <table class="mx-auto">
          <tr>
            <th colspan="2"><em>Your Scores</em></th>
          </tr>
          <% @attempt.scores.each do |score| %>
            <tr>
              <td><%= score[0].capitalize %>: </td>
              <td><%= score[1] %></td>
            </tr>
          <% end %>
        </table>
        <br>
        <%= link_to "Back to Scenario", scenario_path(@attempt.scenario_id), class: "btn btn-success" %>
      </div>
    </div>
  </div>
</section>
