<h1>Editing Answer</h1>

<%= render 'form', answer: @answer, action: "update" %>

<!--<%#= link_to 'Show', @answer %> |-->
<%= link_to 'Back', quiz_path(@question.quiz_id, anchor: "question_order_" + @question.order.to_s) %>
