<section id="" class="min-vh-100 info-page">
  <div class="text-container container">
    <div class="row">
      <div class="col">
        <h1 class="text-center">About</h1>
        <p>The Scenario Platform facilitates the creation of non-linear branching scenarios where each answer that a
          participant selects can influence a range of background variables and link to an arbitrary next question.</p>

        <p>This platform was initially scoped for training solicitors with practise interview scenarios. As the project
          developed there was a wider demand beyond the scope for a platform in other areas such as rehabilitation,
          medical scenario and customer service training</p>

        <p>It was created by the Legal Innovation Lab Wales which is an ERDF funded project and part of the Hilary
          Rodham Clinton School of Law at Swansea University. You can find out more about the lab at
          <a href="https://legaltech.wales">LegalTech.Wales.</a></p>

        <p>If you're interested in a demo of the software, finding out more or setting up an organisation of your own on
          the platform then please <a href="mailto:sceanario-platform@legaltech.wales">send us an email.</a></p>

        <p>If you're looking for more information on how to build scenarios then we have a <a href="/guide">guide</a>
          which will hopefully help. </p>
      </div>
    </div>
  </div>
</section>