<section id="cover" class="min-vh-100">
  <div class="vs-form">
    <div class="row text-white">
      <div class="col-xl-8 col-lg-6 col-md-8 col-sm-11 mx-auto text-center form p-4">
        <h5>Your organisation admin needs to approve your request before you can start completing quizzes!</h5>
      </div>
    </div>
  </div>
</section>