<section id="" class="min-vh-100 info-page">
  <div class="text-container container">
    <div class="row">
      <div class="col">

        <p>
          <span class="q">YOUR DATA</span> We're working to simplify privacy pages and make them as transparent and
          understandable as possible. This is what we do with your data and why.
        </p>

        <p>
          <span class="q">WHAT?</span> We collect and store the data that you add to the sign up form as well as data on
          your quiz attempts.
          <span class="q">WHY?</span> we do this to facilitate the core functionality of the app.
          <span class="q">HOW?</span> This data is stored in an encrypted database, and is encrypted in transit using SSL.
          <span class="q">WHO?</span> The data is only accessible to you, the admins of the organisation you are part of
          and our small team of developers at The <a href="https://legaltech.wales">Legal Innovation Lab Wales</a>.
          <span class="q">WHERE?</span> We use Heroku, Cloudflare, SendGrid and Netlify to power this application.
        </p>
        <p>
          <span class="q">Problems?</span> If any any point you are not happy with this you are welcome to delete your
          account or <a href="mailto:legalinnovation@swansea.ac.uk">contact the lab</a>.
          <span class="q">More?</span> If you want to find out more you can read our general
          <a href="https://media.legaltech.wales/docs/LILW-Privacy-Policy.pdf">privacy policy</a> which covers a broader
          scope of information than is used by this application.
        </p>

      </div>
    </div>
  </div>
</section>