<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<p>
  A new user has signed up to your organisation and is awaiting confirmation on the Scenario Platform.
</p>
<p>
  Login in now to confirm new users.
</p>
</body>
</html>
