<section class="admin-view">
  <div class="container">

    <h1 class="text-center">New Scenario</h1>

    <%= render 'form', scenario: @scenario %>

    <div class="text-center">
      <%= link_to 'Back', scenarios_path %>
    </div>
  </div>
</section>