.admin-page {
  .hidden {
    display: none;
  }

  .row {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    margin-bottom: 15px;
    padding: 15px;
  }

  #organisation {
    i {
      line-height: 24px;

      &.name-marker:hover {
        cursor: pointer;
      }
    }
  }

  #requested-users {
    button {
      float: right;

      &.btn-primary {
        background-color: green;
        border-color: green;

        &:hover {
          background-color: darkgreen;
          border-color: darkgreen;
        }
      }
    }
  }

  #users {
    table {
      tr {
        &:hover {
          cursor: pointer;
        }

        td {
          padding: 0;

          a {
            display: block;
            text-decoration: none;
            color: black;
            padding: 0.5rem 0.5rem;


            .fa-check-circle {
              color: green;
            }

            .fa-times-circle {
              color: darkred;
            }
          }
        }
      }
    }
  }
}