@import "variables";

body#overboot {
  .btn {
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
    transition: 0.2s;
  }

  .btn:hover {
    box-shadow: none;
    text-decoration: none;
  }

  .btn-primary {
    background-color: $brand-primary;
    border-color: $brand-primary;
    color: $ink-white;

    &:hover {
      background-color: $brand-primary-hover;
      border-color: $brand-primary-hover;
    }
  }

  .btn-outline-primary {
    color: $brand-primary;
    border-color: $brand-primary;

    &:hover {
      color: $ink-white;
      background-color: $brand-primary;
    }
  }

  .btn-success {
    background-color: $brand-success;
    border-color: $brand-success;
    color: $ink-white;

    &:hover {
      background-color: $brand-success-hover;
      border-color: $brand-success-hover;
    }
  }

  .btn-outline-success {
    color: $brand-success;
    border-color: $brand-success;

    &:hover {
      color: $ink-white;
      background-color: $brand-success;
    }
  }

  .btn-info {
    background-color: $brand-info;
    border-color: $brand-info;
    color: $ink-white;

    &:hover {
      background-color: $brand-info-hover;
      border-color: $brand-info-hover;
    }
  }

  .btn-outline-info {
    color: $brand-info;
    border-color: $brand-info;

    &:hover {
      color: $ink-white;
      background-color: $brand-info;
    }
  }

  .btn-warning {
    background-color: $brand-warning;
    border-color: $brand-warning;
    color: $ink-white;

    &:hover {
      background-color: $brand-warning-hover;
      border-color: $brand-warning-hover;
    }
  }

  .btn-outline-warning {
    color: $brand-warning;
    border-color: $brand-warning;

    &:hover {
      color: $ink-white;
      background-color: $brand-warning;
    }
  }

  .btn-danger {
    background-color: $brand-danger;
    border-color: $brand-danger;

    &:hover {
      background-color: $brand-danger-hover;
      border-color: $brand-danger-hover;
    }
  }

  .btn-outline-danger {
    color: $brand-danger;
    border-color: $brand-danger;

    &:hover {
      color: $ink-white;
      background-color: $brand-danger;
    }
  }

  .btn-secondary {
    color: $ink-white;

  }
}
