// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "variables";
form:before {
  background-color: $body-bg !important;
}

body#overboot {
  font-family: $font;
  color: $ink-navy;
  background-color: $body-bg;
  .text-danger {
    color: $brand-danger;
  }
  .btn {
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.3);
    transition: 0.2s ;
  }
  .btn:hover{
    box-shadow: none;
  }
  .btn-primary {
    background-color: $brand-primary;
    border-color: $brand-primary;
    color: $ink-white;
  }
  .btn-primary:hover {
    background-color: $brand-primary-hover;
    border-color: $brand-primary-hover;
  }
  .btn-success {
    background-color: $brand-success;
    border-color: $brand-success;
    color: $ink-white;
  }
  .btn-success:hover {
    background-color: $brand-success-hover;
    border-color: $brand-success-hover;
  }
  .btn-info {
    background-color: $brand-info;
    border-color: $brand-info;
    color: $ink-white;
  }
  .btn-info:hover {
    background-color: $brand-info-hover;
    border-color: $brand-info-hover;
  }
  .btn-warning {
    background-color: $brand-warning;
    border-color:$brand-warning;
    color: $ink-white;
  }
  .btn-warning:hover {
    background-color: $brand-warning-hover;
    border-color:$brand-warning-hover;
  }
  .btn-danger {
    background-color: $brand-danger;
    border-color:$brand-danger;
  }
  .btn-danger:hover {
    background-color: $brand-danger-hover;
    border-color:$brand-danger-hover;
  }


}
h1, h2, h3, h4, h5 {
  font-family: $heading-font
}


#cover {
    background-image: image-url('LILW4.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
    opacity: 0.85;
}

#cover-caption {
    width: 100%;
    position: relative;
    z-index: 1;
    background-color: rgba(0,0,0,0.9);
}

/* only used for background overlay not needed for centering */
form:before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    color: white;
    background-color: rgba(0,0,0,0.3);
    z-index: -1;
    border-radius: 10px;
}

.scenario-guide {
    max-width: 1060px;
    margin: auto;
    margin-top: 56px;
    padding: 10px;
    background-color: rgba(0,0,0,0.9);
}

.vs-form {
    label {
      font-size:  12.5px;
      font-weight:  400;
      color: white;
      opacity:  .85;

    }
    text-align: center;
    max-width: 460px;
    margin: auto;
    margin-top: 56px;
    padding: 10px;
    background-color: rgba(0,0,0,0.9);
    }

section.quiz-header, section.quiz-album {
  .quiz-show-container {
    background-color: $section-bg-navy;
    color: $ink-orange;
  }
}
section.quiz-header {
  .quiz-show-container {
    padding: 1rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}
section.quiz-album {
  background-color: $section-bg;
}
section.quiz-index {
  background-image: image-url('LILW4.jpg');
  background-position: center;
  background-repeat: no-repeat;


  .grey-transparent-bg {
    background-color: $section-bg-transparent;
    padding: 0.6rem;
    border-radius: 0.4rem;

  }
}

.admin-view {
  padding-top: 2rem;
  background: $admin-background;
  .admin-header {
    background-color: $section-bg;
    padding-bottom: 2rem;
  }
}

.answer-row{
  .question-answer {
    background-color: $section-bg-navy;
    border: 2px solid $ink-orange;
    border-radius: 10px;
    transition: 0.2s;
    margin: 6px 50px;
    p {
      color: $ink-orange;
      //text-decoration: none;
      text-decoration-line: none;
      margin: 5px 0;
    }
    &:hover {
      background-color: #F7F7F822;
    }
  }
}

#quiz-attempts {
  display: none;
}