// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "variables";

body#overboot {
  font-family: $font;
  color: $ink-navy;
  background-color: $body-bg;
  .text-danger {
    color: $brand-danger;
  }
}

h1, h2, h3, h4, h5 {
  font-family: $heading-font
}

#cover {
    background-image: $brand-lab-background;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
    opacity: 0.85;
}

#cover-caption {
    width: 100%;
    position: relative;
    z-index: 1;
}

.scenario-guide {
    max-width: 1060px;
    margin: auto;
    margin-top: 56px;
    padding: 10px;
    background-color: rgba(0,0,0,0.9);
}


.admin-view {
  padding-top: 2rem;
  background: $admin-background;
  .admin-header {
    background-color: $section-bg;
    padding-bottom: 2rem;
  }
}


