// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "variables";

body#overboot {
  font-family: $font;
  color: $ink-navy;
  background-color: $body-bg;
  .text-danger {
    color: $brand-danger;
  }
}

h1, h2, h3, h4, h5 {
  font-family: $heading-font
}

.alert {
  text-align: center;
  position: absolute;
  top: 0;
  z-index: 2;
}

#cover {
    background-image: $brand-lab-background;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
    opacity: 0.85;

  &.homepage{
    height: calc(100vh - 56px)
  }

  #sign-up.sp-form {
    margin-top: 21.5px;

    .terms-input {
      color: $ink-white;
      margin: 15px 0;

      .form-check-input {
        margin-right: 5px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

#cover-caption {
    width: 100%;
    position: relative;
    z-index: 1;
}

.info-page {
  .text-container {
    font-size: 1.1rem;
    max-width: 1060px;
    margin: 56px auto auto;
    padding: 30px;
  }

  .q{
    /*font-size: 2.1em;*/
    font-weight: 600;
    margin: .67em 0;
  }
}

.admin-view {
  padding-top: 2rem;
  background: $admin-background;
  .admin-header {
    background-color: $section-bg;
    padding-bottom: 2rem;
  }
}
