// Place all the styles related to the Scenarios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "variables";

section {
  &.scenario-header, &.scenario-album {
    .scenario-show-container {
      background-color: $section-bg-navy;
      color: $ink-orange;
    }
  }

  &.scenario-header {
    .scenario-show-container {
      padding: 1rem;
      margin-top: 5rem;
      margin-bottom: 5rem;
    }
  }

  &.scenario-album {
    background-color: $section-bg;
  }

  &.scenario-index {
    background-image: $brand-lab-background;
    background-position: center;
    background-repeat: no-repeat;

    .grey-transparent-bg {
      background-color: $section-bg-transparent;
      padding: 0.6rem;
      border-radius: 0.4rem;
    }
  }
}

.accordion-header {
  a.accordion-button {
    padding: 0.6rem;
    text-decoration: none;
    color: inherit;
  }

  .d-flex {
    width: 100%;
    margin-right: 0.8rem;
  }

  .accordion-question-description {
    flex: 0.8;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: $font;
  }

  .accordion-answers-badge {
    font-family: $font;
  }
}

.accordion-body {
  h3 a {
    text-decoration: none;
    color: inherit;
  }

  .list-group-item {
    padding: 0.1rem 1rem;

    .accordion-answer-text {
      flex: 0.9;
    }
  }
}
