// Place all the styles related to the Scenarios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "variables";

section {
  &.scenario-header, &.scenario-album {
    .scenario-show-container {
      background-color: $section-bg-navy;
      color: $ink-orange;
    }
  }

  &.scenario-header {
    .scenario-show-container {
      padding: 1rem;
      margin-top: 5rem;
      margin-bottom: 5rem;
    }
  }

  &.scenario-album {
    background-color: $section-bg;
  }

  &.scenario-index {
    background-image: $brand-lab-background;
    background-position: center;
    background-repeat: no-repeat;


    .grey-transparent-bg {
      background-color: $section-bg-transparent;
      padding: 0.6rem;
      border-radius: 0.4rem;
    }
  }
}

#attempts, #hints {
  display: none;
}
