// Place all the styles related to the Scenarios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "variables";

section {
  &.scenario-header, &.scenario-album {
    .scenario-show-container {
      background-color: $section-bg-navy;
      color: $ink-orange;
    }
  }

  &.scenario-header {
    .scenario-show-container {
      padding: 1rem;
      margin-top: 5rem;
      margin-bottom: 5rem;
    }
  }

  &.scenario-album {
    background-color: $section-bg;
  }

  &.scenario-index {
    background-image: $brand-lab-background;
    background-position: center;
    background-repeat: no-repeat;

    .grey-transparent-bg {
      background-color: $section-bg-transparent;
      padding: 0.6rem;
      border-radius: 0.4rem;
    }
  }
}

.accordion-header {
  a.accordion-button {
    padding: 0.6rem;
    text-decoration: none;
    color: inherit;
  }

  .d-flex {
    width: 100%;
    margin-right: 0.8rem;
  }

  .accordion-question-description {
    flex: 0.8;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: $font;
  }

  .accordion-answers-badge {
    font-family: $font;
  }
}

.accordion-body {
  h3 a {
    text-decoration: none;
    color: inherit;
  }

  .list-group-item {
    padding: 0.1rem 1rem;

    .accordion-answer-text {
      flex: 0.9;
    }
  }
}

.question-container {
  .info-alert-box {
    display: none;
    padding: 1rem;
    position: relative;
    border-radius: 0.25rem;
    color: #055160;
    background-color: #cff4fc;
    border: 1px solid #b6effb;
  }

  .extra-info {
    display: none
  }

  &.help {
    .question-info-container {
      border: 0.25rem solid $brand-danger;
      border-radius: 0.5rem;
      margin-bottom: 0.5rem;
      transition: 0.2s;
      transition-timing-function: ease-in;

      &:hover {
        background-color: #f8d7da;
      }
    }

    .info-alert-box {
      display: inherit;
    }

    .extra-info {
      display: inline;
    }

    .answers-info-container {
      border: 0.25rem solid $brand-danger;
      border-radius: 0.5rem;
      margin-bottom: 0.5rem;
      transition: 0.2s;
      transition-timing-function: ease-in;

      &:hover {
        background-color: #f8d7da;
      }
    }
  }
}
