$font: 'Oxygen', Arial, sans-serif;
$heading-font: 'Carter One', Arial, sans-serif;



$ink-navy: #161D3B;
$ink-orange: #F38B00;
$ink-white: #FFF;


//$body-bg: #E9ECEF;
$body-bg: #FCFCFC;
$section-bg: #F7F7F8;
$section-bg-transparent: #F7F7F8CC;

$section-bg-navy: #181E34;

$admin-background: repeating-linear-gradient(-40deg, #F8F8F8, #F8F8F8 60px, #F8F6F6 60px, #F8F6F6 200px
);

$breakpoint-mobile: 480px;

// Brand Colors
$brand-primary: #5130BA;
$brand-primary-hover: #462AA2;
$brand-info: #6380EB;
$brand-info-hover: #4A6CE8;
$brand-success: #3F9136;
$brand-success-hover: #34772C;
$brand-warning: #F38B00;
$brand-warning-hover: #CC7400;
$brand-danger: #D9270F;
$brand-danger-hover: #BF220D;


// 420EED  3F9136