$font: "Montserrat", Arial, sans-serif;
$heading-font: "Permanent Marker", Arial, sans-serif;


$ink: #090514;
$lightgrey: #768798;
$notquitewhite: #f8f9fa;
$whitetransparent: rgba(250, 250, 250, 0.6);
$hoverwhite: #D4E5F6;
$white: #fff;

$darkblue: #231651;

$darkseagreen: #83BCA9;

$green: #3E5641;

$orange: #D36135;

$darkorange: #A24936;
$darkorangetransparent: #A2493644;

$brandprimary: $darkblue;
$brandsecondary: $darkseagreen;

$backgroundgrad: linear-gradient(to bottom, $darkseagreen, $darkblue, $orange);

$breakpoint-mobile: 480px;