<div id="email-wrapper">
  <div id="header">
    <table>
      <tbody>
      <tr>
        <td>
          <h3>Hello <%= @resource.email %>!</h3>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div id="body">
    <p>We're contacting you to notify you that your password has been changed</p>
  </div>
</div>